@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOption > .MuiSvgIcon-root {
  padding: 15px;
}

.sidebarOption > h2 {
  font-weight: 700;
  font-size: 14px;
  margin-right: 20px;
  font-family: Chelsea Market;
}

.sidebarOption--active {
  color: var(--twitter-color);
}
